---
title: 'Carrot.is: API'
author: 'Tony'
author_slug: 'tony'
date: '5/2/2013'
pull_quote: "Imagine a series of gridded laser lights projected ahead of you, flying past your head with a series of beeps and zaps. A voice pounds in your ear, coarse and determined: \"The year is 2013, computers..."
---

extends ../_single
block content
  :markdown
    Imagine a series of gridded laser lights projected ahead of you.

    17 years ago, that's how I would have introduced Carrot's new API.
