extend layout

block content
  #content

  script(id='category', type='text/template')
    <%- name %>

  script(id='content-show', type='text/template')
    <h1><%- id %></h1>
    <%= markdownContent() %>
