!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/css/master.css')
    script(data-main='/js/main', src='/js/vendor/require.js')
  body
    header
    block content
    footer
