!!!5
html
  head
    title Roots CMS
    link(rel='stylesheet', href='/css/master.css')
    link(rel='stylesheet', href='/css/custom.css')
    script(data-main='/js/main', src='/js/vendor/require.js')
  body
    header
    #all
      block content
    footer
