#content-edit
  .data
    padding: 0

    strong
      column(1/6)

    input
      column(2/6)

    li
      padding: 5px

  button
    margin-right: 10px

    &.commit
      display: block
      margin: 20px auto

  .modal
    height: 170px

    input
      size: 350px 35px
