normalize()
base()

button
  simple-button()

body
  max-width: 900px
  margin: 0 auto

ul
  list-style-type: none

li
  area()
  margin: 10px 0
  cursor: pointer

  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

a.root
  padding: 0 40px
